/* Header */

header {
    background-color: transparent;
    color: #f0f8ffbd;
}

.home-button, .contact-button {
    color: #f0f8ffbd;
    background-color: transparent;
    border: none;
}

nav a button:hover {
    color: rgba(206, 15, 15, 0.7);
}


/* Footer */

footer {
    background-color: transparent;
    color: #f0f8ffbd;
}

.social-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-link-item {
  display: inline-block;
  padding-right: 40px;
  font-size: 30px;
}

.fab {
    color: #f0f8ffbd;
}

.fab:hover {
    color: rgba(206, 15, 15, 0.7);
}

.copyright {
    margin-top: 5px;
}

.footer-content {
  text-align: center;
}

.pic-source {
    color: #f0f8ffbd;
}

/* Home Page */

#game-intro{
    background: url("../images/home.png") no-repeat;
    background-size: cover;
    height: 100vh;
    /*background-position: center bottom;*/
} 

.instruction {
    padding-top: 75px;
    color: #f0f8ffbd;
}


#start-game {
    background-color: black;
} 

#start-game:hover {
    background-color: rgba(206, 15, 15, 0.7);
}

.hidden {
    display: none;
}

/* Game Page */

#game-area {
    margin-top: 10px;
}

#canvas {
    /*background-color: aqua; /* testing canvas sizes */
    background: url("../images/city3.jpg.png") no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
} 

#canvas2 {
    /*background-color: green;*/
    height: 20vh;
    position: absolute;
    left: 0;
    bottom: 0;
} 


#game-home {
    position: fixed;
    top: 12px;
    right: 2px;
    z-index: 1;
}

#score {
    position: fixed;
    top: 40px;
    right: 10px;
    z-index: 1;
}

#lives {
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 1;
}

#move-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 50%;
    opacity: 0;
}

#move-left {
    position: fixed;
    bottom: 0;
   /* left: 10px; */
    z-index: 1;
    height: 20vh;
    width: 50%;
    height: 100%;
    width: 50%;
    opacity: 0;
}

/* Contact Page */

/*
.contact-intro {
    padding-top: 75px;
    background-color: red;
} */

#contact-section{
    background: url("../images/contact.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
} 

.contact-form {
  width: 400px;
  max-width: 85vw;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
}

.form-item {
  margin-bottom: 3px;
  background: #f0f8ffbd;
  opacity: .7;
  color: #000000;
}

.submit-button {
  background-color: black;
}

.submit-button:hover {
  background-color: rgba(206, 15, 15, 0.7);
}

.contact-blog {
  width: 150px;
  max-width: 85vw;
  margin: auto;
  color: rgba(206, 15, 15, 0.7);
  font-weight: 900;
  background-color: #f0f8ffbd;
  opacity: .9;
}

.comm {
    font-size: large;
}

.pic-source {
    color: black;
}

/* Media Queries */

@media only screen and (min-width: 992px) {
  .contact-blog, .contact-form {
    margin-top: 20vh;
  }
}