/* Header */

header {
    background-color: rgb(39, 36, 36);
    color: #f0f8ffbd;
}

/* Home Page */

.instruction {
    padding-top: 75px;
    background-color: red;
}

.hidden {
    display: none;
}

/* Game Page */

#game-area {
    margin-top: 10px;
}

/* Contact Page */

.contact-intro {
    padding-top: 75px;
    background-color: red;
}

